<div class="chat_top">
  <div class="chat_name_box">
    <div class="chat_name">
      チャットネーム
    </div>
  </div>
  <div class="chat_end_box">
    <div class="chat_end_btn">
      <a href="end">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat_center">
  <div class="message_box">
    <div class="message_top">
      <div class="message_name">
        Tom
      </div>
      <div class="time">
        12:00
      </div>
    </div>
    <div class="message_bottom">
      <div class="message">
        おはよう
      </div>
    </div>
  </div>
  <div class="message_box">
    <div class="message_top">
      <div class="message_name">
        Tom
      </div>
      <div class="time">
        12:00
      </div>
    </div>
    <div class="message_bottom">
      <div class="message">
        おはよう
      </div>
    </div>
  </div>
</div>
<div class="chat_bottom">
  <div class="chat_input">
    <input placeholder="type a message" class="message_input">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="send_btn">
</div>